# Splito Business API — OpenAPI 3.1 description.
#
# Generated from, and kept in step with, the route table in
# src/routes/v1/index.ts. The prose specification (every rule, every reason,
# webhook verification, the runbook) is BUSINESS_API.md; this file is the
# machine-readable half for client generators and request-validating proxies.
#
# Two servers, two credentials:
#   * /api/v1                        -> bearer API key  (ApiKeyAuth)
#   * /api/organizations/.../api-keys -> session cookie  (SessionCookie)
# Key management is intentionally NOT bearer-authenticated: a key cannot mint,
# widen or rotate a key, including itself.

openapi: 3.1.0

info:
  title: Splito Business API
  version: "1.0.0"
  summary: Programmatic access to a Splito business workspace.
  description: |
    Every endpoint under `/api/v1` is scoped to exactly one business workspace —
    the one the presented API key belongs to. There is no `organizationId`
    parameter anywhere on the surface, so a key cannot address another tenant's
    data.

    See BUSINESS_API.md for scopes, idempotency, rate limits, webhook signature
    verification and the operational runbook.
  license:
    name: Proprietary

servers:
  - url: https://api.splito.io
    description: Production
  - url: http://localhost:3001
    description: Local development

security:
  - ApiKeyAuth: []

tags:
  - name: Discovery
    description: Verify a key and read this deployment's catalogs and limits.
  - name: Dashboard
    description: The aggregated business dashboard.
  - name: Workspace
  - name: Members
  - name: Requests
    description: Money requests and their payment links.
  - name: Invoices
  - name: Treasury
    description: Income streams and treasury expenses.
  - name: Contracts
  - name: Activity
  - name: Webhooks
  - name: API keys
    description: Session-authenticated key management. Not callable with an API key.

paths:
  /api/v1/ping:
    get:
      tags: [Discovery]
      operationId: ping
      summary: Verify a key
      description: Requires a valid key and no scope, so a narrowly scoped key can still verify itself.
      responses:
        "200":
          description: The key, its scopes and its workspace.
          headers:
            Splito-Request-Id: { $ref: "#/components/headers/RequestId" }
            X-RateLimit-Remaining: { $ref: "#/components/headers/RateLimitRemaining" }
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { $ref: "#/components/schemas/Ping" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "429": { $ref: "#/components/responses/RateLimited" }
        "503": { $ref: "#/components/responses/ApiDisabled" }

  /api/v1/meta:
    get:
      tags: [Discovery]
      operationId: getMeta
      summary: Scope catalog, event catalog and enforced limits
      responses:
        "200":
          description: Catalogs read from the same constants the enforcement reads.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { $ref: "#/components/schemas/Meta" }
        "401": { $ref: "#/components/responses/Unauthorized" }

  /api/v1/dashboard/summary:
    get:
      tags: [Dashboard]
      operationId: getDashboardSummary
      summary: The whole dashboard in one call
      description: |
        `outstanding` excludes cancelled and expired money — nobody is going to
        pay it. A currency whose exchange rate cannot be fetched is dropped from
        a total rather than added at 1:1.

        Scope: `dashboard:read`.
      parameters:
        - name: currency
          in: query
          description: 3-letter fiat code for the converted totals. Defaults to the key owner's display currency.
          schema: { type: string, pattern: "^[A-Za-z]{3}$" }
          example: EUR
      responses:
        "200":
          description: Totals, status buckets, approval queue, treasury and recent activity.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { $ref: "#/components/schemas/DashboardSummary" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }

  /api/v1/organization:
    get:
      tags: [Workspace]
      operationId: getOrganization
      summary: The workspace profile
      description: "Scope: `organization:read`."
      responses:
        "200":
          description: The organization this key belongs to.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { $ref: "#/components/schemas/Organization" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }

  /api/v1/members:
    get:
      tags: [Members]
      operationId: listMembers
      summary: List members
      description: "Scope: `members:read`."
      parameters:
        - { $ref: "#/components/parameters/Limit" }
        - { $ref: "#/components/parameters/Offset" }
      responses:
        "200":
          description: Paginated members.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ListEnvelope"
                  - type: object
                    properties:
                      data:
                        type: array
                        items: { $ref: "#/components/schemas/Member" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }

  /api/v1/members/{userId}:
    parameters:
      - name: userId
        in: path
        required: true
        schema: { type: string }
    patch:
      tags: [Members]
      operationId: updateMemberRole
      summary: Change a member's role
      description: |
        `OWNER` cannot be granted through the API — `403 insufficient_scope`.
        A change that would leave the workspace ownerless is `409 conflict`.

        Scope: `members:write`.
      parameters:
        - { $ref: "#/components/parameters/IdempotencyKey" }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [role]
              properties:
                role:
                  type: string
                  enum: [ADMIN, MEMBER]
      responses:
        "200":
          description: The updated member.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { $ref: "#/components/schemas/Member" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
        "409": { $ref: "#/components/responses/Conflict" }
    delete:
      tags: [Members]
      operationId: removeMember
      summary: Remove a member
      description: |
        Refused with `409` if it would leave the workspace ownerless, or if the
        target is the member this key acts as (which would disable the key
        mid-call).

        Scope: `members:write`.
      parameters:
        - { $ref: "#/components/parameters/IdempotencyKey" }
      responses:
        "200":
          description: Removal acknowledged.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      object: { type: string, const: member }
                      userId: { type: string }
                      removed: { type: boolean, const: true }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
        "409": { $ref: "#/components/responses/Conflict" }

  /api/v1/invites:
    get:
      tags: [Members]
      operationId: listInvites
      summary: List invites
      description: |
        The invite token is never included — a pending invite's token is a seat
        in the workspace.

        Scope: `members:read`.
      parameters:
        - { $ref: "#/components/parameters/Limit" }
        - { $ref: "#/components/parameters/Offset" }
        - name: status
          in: query
          schema: { type: string, enum: [PENDING, ACCEPTED, REVOKED, DECLINED] }
      responses:
        "200":
          description: Paginated invites.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ListEnvelope"
                  - type: object
                    properties:
                      data:
                        type: array
                        items: { $ref: "#/components/schemas/Invite" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
    post:
      tags: [Members]
      operationId: createInvite
      summary: Invite someone
      description: |
        Creates a PENDING invite. It creates no user and no membership —
        acceptance is the only thing that seats anybody. Omit `email` for a
        shareable link invite. `OWNER` is refused.

        The `201` response is the only place `inviteUrl` appears.

        Scope: `members:write`.
      parameters:
        - { $ref: "#/components/parameters/IdempotencyKey" }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                email: { type: string, format: email }
                role: { type: string, enum: [ADMIN, MEMBER], default: MEMBER }
                sendEmail:
                  type: boolean
                  default: true
                  description: "`false` creates the invite without emailing it."
      responses:
        "201":
          description: The invite, with its accept URL.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { $ref: "#/components/schemas/InviteCreated" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "409": { $ref: "#/components/responses/Conflict" }

  /api/v1/invites/{inviteId}/revoke:
    post:
      tags: [Members]
      operationId: revokeInvite
      summary: Revoke a pending invite
      description: "Idempotent. An accepted invite is `409` — remove the member instead. Scope: `members:write`."
      parameters:
        - name: inviteId
          in: path
          required: true
          schema: { type: string }
        - { $ref: "#/components/parameters/IdempotencyKey" }
      responses:
        "200":
          description: The revoked invite.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { $ref: "#/components/schemas/Invite" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
        "409": { $ref: "#/components/responses/Conflict" }

  /api/v1/requests:
    get:
      tags: [Requests]
      operationId: listRequests
      summary: List money requests
      description: |
        `status` filters on the EFFECTIVE status: `EXPIRED` matches requests past
        their expiry even though no job has written that value, and `OPEN`
        excludes lapsed ones.

        Scope: `requests:read`.
      parameters:
        - { $ref: "#/components/parameters/Limit" }
        - { $ref: "#/components/parameters/Offset" }
        - name: status
          in: query
          schema: { type: string, enum: [OPEN, PARTIALLY_PAID, SETTLED, EXPIRED, CANCELLED] }
      responses:
        "200":
          description: Paginated money requests.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ListEnvelope"
                  - type: object
                    properties:
                      data:
                        type: array
                        items: { $ref: "#/components/schemas/MoneyRequest" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
    post:
      tags: [Requests]
      operationId: createRequest
      summary: Create a money request
      description: |
        Provide either `payerCount` (anonymous slots) or `groupId` (named group
        members) — never both. `workspaceId` is implied by the key and must be
        omitted.

        Strongly recommended with `Idempotency-Key`: a retried create without
        one produces a second request out to the same people.

        Scope: `requests:write`.
      parameters:
        - { $ref: "#/components/parameters/IdempotencyKey" }
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/CreateRequestBody" }
      responses:
        "201":
          description: The request and one payment link per payer.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { $ref: "#/components/schemas/CreatedRequest" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "409": { $ref: "#/components/responses/Conflict" }

  /api/v1/requests/{requestId}:
    get:
      tags: [Requests]
      operationId: getRequest
      summary: Read a money request
      description: |
        Adds the payer roster, notes and live payment links. `paymentLinks` is
        empty once the link has expired.

        Scope: `requests:read`.
      parameters:
        - name: requestId
          in: path
          required: true
          schema: { type: string }
      responses:
        "200":
          description: The request in detail.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { $ref: "#/components/schemas/MoneyRequestDetail" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }

  /api/v1/requests/{requestId}/cancel:
    post:
      tags: [Requests]
      operationId: cancelRequest
      summary: Cancel a money request
      description: |
        Cancels the ask, not the payments — shares already paid are untouched.
        A settled or otherwise terminal request is `409`; re-cancelling is
        reported as already done.

        Scope: `requests:write`.
      parameters:
        - name: requestId
          in: path
          required: true
          schema: { type: string }
        - { $ref: "#/components/parameters/IdempotencyKey" }
      responses:
        "200":
          description: The cancelled request.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { $ref: "#/components/schemas/MoneyRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
        "409": { $ref: "#/components/responses/Conflict" }

  /api/v1/invoices:
    get:
      tags: [Invoices]
      operationId: listInvoices
      summary: List invoices
      description: "Scope: `invoices:read`."
      parameters:
        - { $ref: "#/components/parameters/Limit" }
        - { $ref: "#/components/parameters/Offset" }
        - name: status
          in: query
          schema: { $ref: "#/components/schemas/InvoiceStatus" }
      responses:
        "200":
          description: Paginated invoices.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ListEnvelope"
                  - type: object
                    properties:
                      data:
                        type: array
                        items: { $ref: "#/components/schemas/Invoice" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
    post:
      tags: [Invoices]
      operationId: createInvoice
      summary: Raise an invoice
      description: |
        The issuer is the key's acting member. Writes an `INVOICE_RAISED`
        activity row and emails every OWNER/ADMIN, exactly as the dashboard
        does. `contractId` is not accepted — linking a contract is a statement
        about a person who signed something.

        Scope: `invoices:write`.
      parameters:
        - { $ref: "#/components/parameters/IdempotencyKey" }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [amount, currency, dueDate]
              properties:
                amount: { type: number, exclusiveMinimum: 0 }
                currency: { type: string, minLength: 1, maxLength: 10, example: USD }
                dueDate:
                  type: string
                  description: ISO-8601 date or datetime.
                  example: "2026-10-31"
                description: { type: string, maxLength: 2000 }
                status:
                  type: string
                  enum: [DRAFT, SENT]
                  default: DRAFT
                  description: DRAFT is invisible to approvers; SENT enters the approval queue.
                imageUrl: { type: string, format: uri }
                fileKey: { type: string }
      responses:
        "201":
          description: The invoice.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { $ref: "#/components/schemas/Invoice" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }

  /api/v1/invoices/{invoiceId}:
    parameters:
      - name: invoiceId
        in: path
        required: true
        schema: { type: string }
    get:
      tags: [Invoices]
      operationId: getInvoice
      summary: Read an invoice
      description: "Scope: `invoices:read`."
      responses:
        "200":
          description: The invoice.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { $ref: "#/components/schemas/Invoice" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
    patch:
      tags: [Invoices]
      operationId: patchInvoice
      summary: Move an invoice through its lifecycle
      description: |
        Legal targets and their sources:

        | Target | Allowed from |
        | --- | --- |
        | `SENT` | `DRAFT` |
        | `APPROVED` | `DRAFT`, `SENT` |
        | `DECLINED` | `DRAFT`, `SENT` |
        | `PAID` | `APPROVED`, `DRAFT`, `SENT`, `OVERDUE` |
        | `CLEARED` | `APPROVED`, `DECLINED`, `PAID`, `DRAFT` |
        | `CANCELLED` | `DRAFT`, `SENT` |

        `OVERDUE` and `DRAFT` are not targets. Asking for the current status is
        a no-op `200`, so a retry is never an error.

        Scope: `invoices:write`.
      parameters:
        - { $ref: "#/components/parameters/IdempotencyKey" }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [status]
              properties:
                status: { $ref: "#/components/schemas/InvoiceStatus" }
                note:
                  type: string
                  maxLength: 1000
                  description: Recorded on the activity row; shown to the issuer on a decline.
      responses:
        "200":
          description: The updated invoice.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { $ref: "#/components/schemas/Invoice" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
        "409": { $ref: "#/components/responses/Conflict" }

  /api/v1/treasury/income-streams:
    get:
      tags: [Treasury]
      operationId: listIncomeStreams
      summary: List income streams
      description: "Scope: `treasury:read`."
      parameters:
        - { $ref: "#/components/parameters/Limit" }
        - { $ref: "#/components/parameters/Offset" }
      responses:
        "200":
          description: Paginated income streams.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ListEnvelope"
                  - type: object
                    properties:
                      data:
                        type: array
                        items: { $ref: "#/components/schemas/IncomeStream" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
    post:
      tags: [Treasury]
      operationId: createIncomeStream
      summary: Record income
      description: "Scope: `treasury:write`."
      parameters:
        - { $ref: "#/components/parameters/IdempotencyKey" }
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/TreasuryEntryBody" }
      responses:
        "201":
          description: The income stream.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { $ref: "#/components/schemas/IncomeStream" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }

  /api/v1/treasury/income-streams/{streamId}:
    parameters:
      - name: streamId
        in: path
        required: true
        schema: { type: string }
    patch:
      tags: [Treasury]
      operationId: updateIncomeStream
      summary: Edit an income stream
      description: "Scope: `treasury:write`."
      parameters:
        - { $ref: "#/components/parameters/IdempotencyKey" }
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/TreasuryEntryPatch" }
      responses:
        "200":
          description: The updated income stream.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { $ref: "#/components/schemas/IncomeStream" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
    delete:
      tags: [Treasury]
      operationId: deleteIncomeStream
      summary: Delete an income stream
      description: "Scope: `treasury:write`."
      parameters:
        - { $ref: "#/components/parameters/IdempotencyKey" }
      responses:
        "200":
          description: Deletion acknowledged.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/DeletedAck" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }

  /api/v1/treasury/expenses:
    get:
      tags: [Treasury]
      operationId: listTreasuryExpenses
      summary: List treasury expenses
      description: |
        Money OUT of the workspace treasury. Not the group-scoped
        bill-splitting expense, which carries participants and shares.

        Scope: `treasury:read`.
      parameters:
        - { $ref: "#/components/parameters/Limit" }
        - { $ref: "#/components/parameters/Offset" }
      responses:
        "200":
          description: Paginated treasury expenses.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ListEnvelope"
                  - type: object
                    properties:
                      data:
                        type: array
                        items: { $ref: "#/components/schemas/TreasuryExpense" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
    post:
      tags: [Treasury]
      operationId: createTreasuryExpense
      summary: Record a treasury expense
      description: "Scope: `treasury:write`."
      parameters:
        - { $ref: "#/components/parameters/IdempotencyKey" }
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/TreasuryEntryBody" }
      responses:
        "201":
          description: The expense.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { $ref: "#/components/schemas/TreasuryExpense" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }

  /api/v1/treasury/expenses/{expenseId}:
    parameters:
      - name: expenseId
        in: path
        required: true
        schema: { type: string }
    patch:
      tags: [Treasury]
      operationId: updateTreasuryExpense
      summary: Edit a treasury expense
      description: "Scope: `treasury:write`."
      parameters:
        - { $ref: "#/components/parameters/IdempotencyKey" }
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/TreasuryEntryPatch" }
      responses:
        "200":
          description: The updated expense.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { $ref: "#/components/schemas/TreasuryExpense" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
    delete:
      tags: [Treasury]
      operationId: deleteTreasuryExpense
      summary: Delete a treasury expense
      description: "Scope: `treasury:write`."
      parameters:
        - { $ref: "#/components/parameters/IdempotencyKey" }
      responses:
        "200":
          description: Deletion acknowledged.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/DeletedAck" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }

  /api/v1/contracts:
    get:
      tags: [Contracts]
      operationId: listContracts
      summary: List contracts
      description: |
        Read-only, with no write counterpart: a contract's value is the audit
        trail around how it was signed, and minting one from a key would produce
        a document with nobody behind it.

        Scope: `contracts:read`.
      parameters:
        - { $ref: "#/components/parameters/Limit" }
        - { $ref: "#/components/parameters/Offset" }
      responses:
        "200":
          description: Paginated contracts.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ListEnvelope"
                  - type: object
                    properties:
                      data:
                        type: array
                        items: { $ref: "#/components/schemas/Contract" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }

  /api/v1/contracts/{contractId}:
    get:
      tags: [Contracts]
      operationId: getContract
      summary: Read a contract
      description: "Scope: `contracts:read`."
      parameters:
        - name: contractId
          in: path
          required: true
          schema: { type: string }
      responses:
        "200":
          description: The contract.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { $ref: "#/components/schemas/Contract" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }

  /api/v1/activity:
    get:
      tags: [Activity]
      operationId: listActivity
      summary: The workspace activity feed
      description: "Invoice and contract events, newest first. Scope: `activity:read`."
      parameters:
        - { $ref: "#/components/parameters/Limit" }
        - { $ref: "#/components/parameters/Offset" }
      responses:
        "200":
          description: Paginated activity.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ListEnvelope"
                  - type: object
                    properties:
                      data:
                        type: array
                        items: { $ref: "#/components/schemas/Activity" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }

  /api/v1/webhooks:
    get:
      tags: [Webhooks]
      operationId: listWebhookEndpoints
      summary: List webhook endpoints
      description: "The signing secret is not included. Scope: `webhooks:read`."
      parameters:
        - { $ref: "#/components/parameters/Limit" }
        - { $ref: "#/components/parameters/Offset" }
      responses:
        "200":
          description: Paginated endpoints.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ListEnvelope"
                  - type: object
                    properties:
                      data:
                        type: array
                        items: { $ref: "#/components/schemas/WebhookEndpoint" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
    post:
      tags: [Webhooks]
      operationId: createWebhookEndpoint
      summary: Register a webhook endpoint
      description: |
        One of only two responses that carry `secret` (the other is
        rotate-secret). Store it now; it is not listed anywhere.

        Scope: `webhooks:write`.
      parameters:
        - { $ref: "#/components/parameters/IdempotencyKey" }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [url, events]
              properties:
                url:
                  type: string
                  format: uri
                  description: "`http://` is accepted for local development; a signed payload over plain HTTP is still readable in transit."
                events:
                  type: array
                  minItems: 1
                  items: { type: string }
                  description: "Exact types, `resource.*`, or `*` (which includes types added later)."
                  example: ["request.settled", "invoice.*"]
                description: { type: string, maxLength: 500 }
      responses:
        "201":
          description: The endpoint, including its signing secret.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { $ref: "#/components/schemas/WebhookEndpointWithSecret" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }

  /api/v1/webhooks/deliveries:
    get:
      tags: [Webhooks]
      operationId: listWebhookDeliveries
      summary: The delivery log
      description: |
        Recent history, not an archive: SUCCEEDED deliveries are pruned after
        7 days.

        Scope: `webhooks:read`.
      parameters:
        - { $ref: "#/components/parameters/Limit" }
        - { $ref: "#/components/parameters/Offset" }
        - name: status
          in: query
          schema: { type: string, enum: [PENDING, SUCCEEDED, FAILED, EXHAUSTED] }
        - name: endpointId
          in: query
          schema: { type: string }
      responses:
        "200":
          description: Paginated deliveries.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ListEnvelope"
                  - type: object
                    properties:
                      data:
                        type: array
                        items: { $ref: "#/components/schemas/WebhookDelivery" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }

  /api/v1/webhooks/deliveries/{deliveryId}/retry:
    post:
      tags: [Webhooks]
      operationId: retryWebhookDelivery
      summary: Requeue a failed or exhausted delivery
      description: "Resets the attempt budget. Scope: `webhooks:write`."
      parameters:
        - name: deliveryId
          in: path
          required: true
          schema: { type: string }
        - { $ref: "#/components/parameters/IdempotencyKey" }
      responses:
        "202":
          description: Requeued.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { $ref: "#/components/schemas/WebhookDelivery" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }

  /api/v1/webhooks/{endpointId}:
    parameters:
      - name: endpointId
        in: path
        required: true
        schema: { type: string }
    get:
      tags: [Webhooks]
      operationId: getWebhookEndpoint
      summary: Read a webhook endpoint
      description: "Scope: `webhooks:read`."
      responses:
        "200":
          description: The endpoint.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { $ref: "#/components/schemas/WebhookEndpoint" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
    patch:
      tags: [Webhooks]
      operationId: updateWebhookEndpoint
      summary: Edit a webhook endpoint
      description: |
        Re-enabling an auto-disabled endpoint clears its failure counter and
        resumes its held backlog.

        Scope: `webhooks:write`.
      parameters:
        - { $ref: "#/components/parameters/IdempotencyKey" }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                url: { type: string, format: uri }
                events:
                  type: array
                  minItems: 1
                  items: { type: string }
                description: { type: [string, "null"], maxLength: 500 }
                enabled: { type: boolean }
      responses:
        "200":
          description: The updated endpoint.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { $ref: "#/components/schemas/WebhookEndpoint" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
    delete:
      tags: [Webhooks]
      operationId: deleteWebhookEndpoint
      summary: Delete a webhook endpoint
      description: "Cascades its deliveries. Scope: `webhooks:write`."
      parameters:
        - { $ref: "#/components/parameters/IdempotencyKey" }
      responses:
        "200":
          description: Deletion acknowledged.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/DeletedAck" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }

  /api/v1/webhooks/{endpointId}/rotate-secret:
    post:
      tags: [Webhooks]
      operationId: rotateWebhookSecret
      summary: Rotate a signing secret
      description: |
        Takes effect immediately — deploy the new secret before the next event
        fires.

        Scope: `webhooks:write`.
      parameters:
        - name: endpointId
          in: path
          required: true
          schema: { type: string }
        - { $ref: "#/components/parameters/IdempotencyKey" }
      responses:
        "200":
          description: The endpoint with its new secret.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { $ref: "#/components/schemas/WebhookEndpointWithSecret" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }

  /api/v1/webhooks/{endpointId}/test:
    post:
      tags: [Webhooks]
      operationId: sendWebhookTestEvent
      summary: Queue a test event
      description: |
        Queued through the real pipeline rather than POSTed inline — the only way
        it proves the real path works, signature and all. Delivered even if the
        endpoint did not subscribe to `webhook.test`.

        Scope: `webhooks:write`.
      parameters:
        - name: endpointId
          in: path
          required: true
          schema: { type: string }
      responses:
        "202":
          description: The queued delivery.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { $ref: "#/components/schemas/WebhookDelivery" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }

  /api/organizations/{organizationId}/api-keys:
    parameters:
      - name: organizationId
        in: path
        required: true
        schema: { type: string }
    get:
      tags: [API keys]
      operationId: listApiKeys
      summary: List a workspace's API keys
      description: |
        Session-authenticated, ADMIN+. Revoked and expired keys are included —
        an audit that hides them is not an audit.

        Answers in the first-party error shape (`{ "error": "prose" }`), like
        the rest of `/api/organizations`.
      security:
        - SessionCookie: []
      responses:
        "200":
          description: Keys, the scope catalog and the default rate limit.
          content:
            application/json:
              schema:
                type: object
                properties:
                  keys:
                    type: array
                    items: { $ref: "#/components/schemas/ApiKey" }
                  availableScopes:
                    type: array
                    items:
                      type: object
                      properties:
                        scope: { type: string }
                        description: { type: string }
                  defaultRateLimitPerMin: { type: integer }
        "401": { $ref: "#/components/responses/FirstPartyError" }
        "403": { $ref: "#/components/responses/FirstPartyError" }
        "404": { $ref: "#/components/responses/FirstPartyError" }
    post:
      tags: [API keys]
      operationId: createApiKey
      summary: Mint an API key
      description: |
        Session-authenticated, ADMIN+. The only response that ever contains the
        plaintext token — it is not stored recoverably, so there is no
        "show it again" endpoint.
      security:
        - SessionCookie: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [name, scopes]
              properties:
                name: { type: string, minLength: 1, maxLength: 120 }
                scopes:
                  type: array
                  minItems: 1
                  items: { type: string }
                  description: "Catalog entries, `resource:*`, or `*`. Unknown strings are rejected."
                  example: ["dashboard:read", "requests:write"]
                expiresInDays:
                  type: integer
                  minimum: 1
                  maximum: 3650
                  description: Omit for a key that never expires.
                rateLimitPerMin: { type: integer, minimum: 1, maximum: 100000 }
      responses:
        "201":
          description: The key, with its plaintext token.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ApiKeyWithToken" }
        "400": { $ref: "#/components/responses/FirstPartyError" }
        "401": { $ref: "#/components/responses/FirstPartyError" }
        "403": { $ref: "#/components/responses/FirstPartyError" }

  /api/organizations/{organizationId}/api-keys/{keyId}:
    parameters:
      - name: organizationId
        in: path
        required: true
        schema: { type: string }
      - name: keyId
        in: path
        required: true
        schema: { type: string }
    patch:
      tags: [API keys]
      operationId: updateApiKey
      summary: Rename or narrow a key
      description: |
        Session-authenticated, ADMIN+. `expiresAt` is deliberately not editable
        — extending a credential already in the wild is how a two-week key
        becomes a three-year liability. Rotate instead.
      security:
        - SessionCookie: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name: { type: string, minLength: 1, maxLength: 120 }
                scopes:
                  type: array
                  minItems: 1
                  items: { type: string }
                rateLimitPerMin: { type: integer, minimum: 1, maximum: 100000 }
      responses:
        "200":
          description: The updated key.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ApiKey" }
        "400": { $ref: "#/components/responses/FirstPartyError" }
        "401": { $ref: "#/components/responses/FirstPartyError" }
        "403": { $ref: "#/components/responses/FirstPartyError" }
        "404": { $ref: "#/components/responses/FirstPartyError" }
        "409": { $ref: "#/components/responses/FirstPartyError" }
    delete:
      tags: [API keys]
      operationId: revokeApiKey
      summary: Revoke a key
      description: |
        Session-authenticated, ADMIN+. Revokes; does not delete — the row is the
        audit trail. Idempotent.
      security:
        - SessionCookie: []
      responses:
        "200":
          description: The revoked key.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ApiKey" }
        "401": { $ref: "#/components/responses/FirstPartyError" }
        "403": { $ref: "#/components/responses/FirstPartyError" }
        "404": { $ref: "#/components/responses/FirstPartyError" }

  /api/organizations/{organizationId}/api-keys/{keyId}/rotate:
    post:
      tags: [API keys]
      operationId: rotateApiKey
      summary: Rotate a key
      description: |
        Session-authenticated, ADMIN+. Mints a replacement with the same name,
        scopes and limit and revokes the old one in the SAME transaction —
        there is no overlap window, because a rotation with a grace period
        leaves the compromised credential working. Deploy the new token, then
        rotate.
      security:
        - SessionCookie: []
      parameters:
        - name: organizationId
          in: path
          required: true
          schema: { type: string }
        - name: keyId
          in: path
          required: true
          schema: { type: string }
      responses:
        "201":
          description: The replacement key, with its plaintext token.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ApiKeyWithToken"
                  - type: object
                    properties:
                      revokedKeyId: { type: string }
        "401": { $ref: "#/components/responses/FirstPartyError" }
        "403": { $ref: "#/components/responses/FirstPartyError" }
        "404": { $ref: "#/components/responses/FirstPartyError" }
        "409": { $ref: "#/components/responses/FirstPartyError" }

components:
  securitySchemes:
    ApiKeyAuth:
      type: http
      scheme: bearer
      bearerFormat: spl_sk_<prefix>_<secret>
      description: |
        `Authorization: Bearer spl_sk_...`. The key carries the workspace, so no
        endpoint takes an organization id. Scopes are listed per operation.
    SessionCookie:
      type: apiKey
      in: cookie
      name: better-auth.session_token
      description: |
        The dashboard session, for key management only. Minting a credential
        requires a human; no API key can issue, widen or rotate a key.

  headers:
    RequestId:
      description: Correlation id, present on every response including failures.
      schema: { type: string, example: req_5f2a91c40b7e4d8a9c3b1e6f }
    RateLimitRemaining:
      description: Requests left in the current clock minute for this key.
      schema: { type: integer }
    RetryAfter:
      description: Seconds to wait before retrying.
      schema: { type: integer }
    IdempotentReplay:
      description: "`true` when this response was replayed from a recorded idempotent write."
      schema: { type: string, enum: ["true", "false"] }

  parameters:
    Limit:
      name: limit
      in: query
      description: Page size. Default 25, maximum 100. An invalid value degrades to the default.
      schema: { type: integer, minimum: 1, maximum: 100, default: 25 }
    Offset:
      name: offset
      in: query
      schema: { type: integer, minimum: 0, default: 0 }
    IdempotencyKey:
      name: Idempotency-Key
      in: header
      description: |
        Makes the write safely retryable. The same key with a different body is
        `409 idempotency_key_reused`; a duplicate racing the original is
        `409 idempotency_in_progress`.
      schema: { type: string, maxLength: 255 }

  responses:
    BadRequest:
      description: Malformed body or query value. `details` carries the validation issues.
      content:
        application/json:
          schema: { $ref: "#/components/schemas/ErrorEnvelope" }
    Unauthorized:
      description: Missing, malformed, revoked, expired or orphaned credential.
      content:
        application/json:
          schema: { $ref: "#/components/schemas/ErrorEnvelope" }
    Forbidden:
      description: Valid key, missing scope — or an action the API never permits.
      content:
        application/json:
          schema: { $ref: "#/components/schemas/ErrorEnvelope" }
    NotFound:
      description: |
        No such object in THIS workspace, or no such endpoint. An object that
        exists in another workspace is also a 404, never a 403 — otherwise ids
        could be enumerated across tenants.
      content:
        application/json:
          schema: { $ref: "#/components/schemas/ErrorEnvelope" }
    Conflict:
      description: Illegal state transition, duplicate, guard violation, or an idempotency conflict.
      content:
        application/json:
          schema: { $ref: "#/components/schemas/ErrorEnvelope" }
    RateLimited:
      description: Over the per-key ceiling.
      headers:
        Retry-After: { $ref: "#/components/headers/RetryAfter" }
      content:
        application/json:
          schema: { $ref: "#/components/schemas/ErrorEnvelope" }
    ApiDisabled:
      description: "`PUBLIC_API_ENABLED=false`. Existing keys remain valid."
      content:
        application/json:
          schema: { $ref: "#/components/schemas/ErrorEnvelope" }
    FirstPartyError:
      description: |
        The first-party error shape used by `/api/organizations`, NOT the v1
        envelope. `error` is prose, or an array of validation issues.
      content:
        application/json:
          schema:
            type: object
            properties:
              error: {}

  schemas:
    ErrorEnvelope:
      type: object
      required: [error]
      properties:
        error:
          type: object
          required: [code, message, requestId]
          properties:
            code:
              type: string
              enum:
                - unauthenticated
                - invalid_api_key
                - api_key_revoked
                - api_key_expired
                - api_key_actor_inactive
                - insufficient_scope
                - invalid_request
                - not_found
                - conflict
                - idempotency_key_reused
                - idempotency_in_progress
                - rate_limited
                - internal_error
                - api_disabled
              description: Branch on this, never on `message`.
            message: { type: string }
            details: {}
            requestId: { type: string }

    Pagination:
      type: object
      required: [limit, offset, total, hasMore]
      properties:
        limit: { type: integer }
        offset: { type: integer }
        total: { type: integer }
        hasMore:
          type: boolean
          description: Precomputed, so a paging loop needs no arithmetic.

    ListEnvelope:
      type: object
      required: [data, pagination]
      properties:
        data: { type: array, items: {} }
        pagination: { $ref: "#/components/schemas/Pagination" }

    DeletedAck:
      type: object
      properties:
        data:
          type: object
          properties:
            object: { type: string }
            id: { type: string }
            deleted: { type: boolean, const: true }

    Ping:
      type: object
      properties:
        object: { type: string, const: ping }
        ok: { type: boolean }
        apiVersion: { type: string, const: v1 }
        key:
          type: object
          properties:
            id: { type: string }
            name: { type: string }
            scopes: { type: array, items: { type: string } }
            effectiveScopes:
              type: array
              items: { type: string }
              description: The stored (possibly wildcard) list resolved to concrete scopes.
        organization:
          type: [object, "null"]
          properties:
            id: { type: string }
            name: { type: string }
        serverTime: { type: string, format: date-time }

    Meta:
      type: object
      properties:
        object: { type: string, const: meta }
        apiVersion: { type: string, const: v1 }
        scopes:
          type: array
          items:
            type: object
            properties:
              scope: { type: string }
              description: { type: string }
        webhookEvents:
          type: array
          items:
            type: object
            properties:
              type: { type: string }
              description: { type: string }
        limits:
          type: object
          properties:
            maxPageSize: { type: integer }
            defaultPageSize: { type: integer }
            idempotencyTtlHours: { type: integer }
        webhooks:
          type: object
          properties:
            enabled: { type: boolean }
            maxAttempts: { type: integer }
            detectionIntervalSeconds:
              type: integer
              description: Upper bound on how long an event can sit before it is noticed.
            signatureHeader: { type: string }
            signatureScheme: { type: string }

    Organization:
      type: object
      properties:
        id: { type: string }
        object: { type: string, const: organization }
        name: { type: string }
        description: { type: [string, "null"] }
        image: { type: [string, "null"] }
        color: { type: [string, "null"] }
        memberCount: { type: integer }
        createdAt: { type: string, format: date-time }

    DashboardSummary:
      type: object
      properties:
        object: { type: string, const: dashboard_summary }
        organization: { $ref: "#/components/schemas/Organization" }
        totals:
          type: object
          properties:
            outstanding:
              type: number
              description: Unpaid shares of LIVE requests only. Cancelled and expired money is excluded.
            received: { type: number }
            currency: { type: string }
            requestCount: { type: integer }
        countsByStatus:
          type: object
          description: Zero-filled for every status, so no key is ever missing.
          properties:
            OPEN: { type: integer }
            PARTIALLY_PAID: { type: integer }
            SETTLED: { type: integer }
            EXPIRED: { type: integer }
            CANCELLED: { type: integer }
        approvalQueueCount:
          type: integer
          description: Invoices in SENT. Receipts are not counted — they belong to bill-splitting groups.
        treasury:
          type: object
          properties:
            streamsTotal: { type: number }
            streamCount: { type: integer }
            expensesTotal: { type: number }
            expenseCount: { type: integer }
            currency: { type: string }
        recentActivity:
          type: array
          items:
            type: object
            properties:
              id: { type: string }
              kind: { type: string, enum: [request, organization] }
              type: { type: string }
              title: { type: [string, "null"] }
              amount: { type: [number, "null"] }
              currency: { type: [string, "null"] }
              status: { type: [string, "null"] }
              createdAt: { type: string, format: date-time }

    Member:
      type: object
      properties:
        object: { type: string, const: member }
        userId: { type: string }
        role: { type: string, enum: [OWNER, ADMIN, MEMBER] }
        name: { type: [string, "null"] }
        email: { type: [string, "null"] }
        image: { type: [string, "null"] }
        joinedAt: { type: string, format: date-time }

    Invite:
      type: object
      properties:
        id: { type: string }
        email:
          type: [string, "null"]
          description: Null for a link invite anyone holding the token may accept.
        role: { type: string, enum: [OWNER, ADMIN, MEMBER] }
        status: { type: string, enum: [PENDING, ACCEPTED, REVOKED, DECLINED] }
        kind: { type: string, enum: [email, link] }
        expiresAt: { type: string, format: date-time }
        createdAt: { type: string, format: date-time }
        acceptedAt: { type: [string, "null"], format: date-time }
        contractId: { type: [string, "null"] }
        createdBy:
          type: [object, "null"]
          properties:
            id: { type: string }
            name: { type: [string, "null"] }
            email: { type: [string, "null"] }

    InviteCreated:
      allOf:
        - $ref: "#/components/schemas/Invite"
        - type: object
          properties:
            inviteUrl:
              type: string
              format: uri
              description: The accept URL. Returned ONLY here — never listed, never in a webhook payload.
            emailDelivered:
              type: boolean
              description: Present when an email was attempted. Delivery is awaited, not fire-and-forget.
            deliveryError: { type: string }

    MoneyRequest:
      type: object
      properties:
        id: { type: string }
        object: { type: string, const: request }
        name:
          type: [string, "null"]
          description: Null when the stored name is the legacy "Payment request" default.
        amount: { type: number }
        currency:
          type: string
          description: The DENOMINATION currency, never the token symbol the row also stores.
        category: { type: string }
        destination:
          type: object
          properties:
            asset: { type: [string, "null"] }
            chain: { type: [string, "null"] }
            address: { type: [string, "null"] }
        status:
          type: string
          enum: [OPEN, PARTIALLY_PAID, SETTLED, EXPIRED, CANCELLED]
          description: The EFFECTIVE status — expiry is applied from the clock, not from a stored flag.
        payerCount: { type: integer }
        paidCount: { type: integer }
        receivedAmount:
          type: number
          description: Sum of shares actually paid, in the denomination currency. Not a live on-chain valuation.
        group:
          type: [object, "null"]
          properties:
            id: { type: string }
            name: { type: string }
        workspaceId: { type: [string, "null"] }
        expiresAt: { type: [string, "null"], format: date-time }
        createdAt: { type: string, format: date-time }
        updatedAt: { type: string, format: date-time }

    RequestPayer:
      type: object
      properties:
        object: { type: string, const: request_payer }
        userId: { type: string }
        name:
          type: [string, "null"]
          description: Null for an anonymous payer slot — a placeholder is not invented.
        email: { type: [string, "null"] }
        shareAmount: { type: number }
        isPaid: { type: boolean }

    MoneyRequestDetail:
      allOf:
        - $ref: "#/components/schemas/MoneyRequest"
        - type: object
          properties:
            payers:
              type: array
              items: { $ref: "#/components/schemas/RequestPayer" }
            notes:
              type: array
              items:
                type: object
                properties:
                  note: { type: string }
                  createdAt: { type: string, format: date-time }
            paymentLinks:
              type: array
              description: Empty once the link has expired — a dead URL is not published as if it worked.
              items:
                type: object
                properties:
                  userId: { type: string }
                  url: { type: string, format: uri }
                  expiresAt: { type: string, format: date-time }

    CreateRequestBody:
      type: object
      required: [amount, denominationCurrency, destinationAsset, destinationChain, destinationAddress]
      description: |
        Exactly one of `payerCount` or `groupId` is required — they answer the
        same question ("who owes a share?"). `workspaceId` is implied by the key
        and must be omitted.
      properties:
        amount: { type: number, exclusiveMinimum: 0 }
        denominationCurrency: { type: string, minLength: 1, maxLength: 10, example: USD }
        destinationAsset: { type: string, example: usdc-stellar }
        destinationChain: { type: string, example: stellar }
        destinationAddress:
          type: string
          description: Validated for the given chain.
        payerCount:
          type: integer
          minimum: 1
          maximum: 50
          description: Anonymous payer slots. Mutually exclusive with `groupId`.
        groupId:
          type: string
          description: Address the request to a group; every member except the requester gets a named share and their own link.
        name: { type: string }
        expiresAt:
          type: string
          format: date-time
          description: Must be in the future. Defaults to 7 days out.
        category: { type: string }
        timeLockIn:
          type: boolean
          description: Lock the fiat-to-asset rate at creation. Defaults to the acting member's preference.
        note: { type: string }
        fileKey: { type: string }

    CreatedRequest:
      type: object
      properties:
        object: { type: string, const: request }
        id: { type: string }
        status: { type: string }
        workspaceId: { type: string }
        group:
          type: [object, "null"]
          properties:
            id: { type: string }
            name: { type: string }
        category: { type: string }
        payerCount: { type: integer }
        expiresAt: { type: string, format: date-time }
        timeLockIn: { type: boolean }
        exchangeRate: { type: [number, "null"] }
        fileKey: { type: [string, "null"] }
        note: { type: [string, "null"] }
        paymentLinks:
          type: array
          items:
            type: object
            properties:
              userId: { type: string }
              name: { type: [string, "null"] }
              shareAmount: { type: number }
              url: { type: string, format: uri }

    InvoiceStatus:
      type: string
      enum: [DRAFT, SENT, PAID, OVERDUE, CANCELLED, APPROVED, DECLINED, CLEARED]

    Invoice:
      type: object
      properties:
        id: { type: string }
        object: { type: string, const: invoice }
        amount: { type: number }
        currency: { type: string }
        status: { $ref: "#/components/schemas/InvoiceStatus" }
        dueDate: { type: string, format: date-time }
        description: { type: [string, "null"] }
        imageUrl: { type: [string, "null"] }
        contractId: { type: [string, "null"] }
        issuer:
          type: [object, "null"]
          properties:
            id: { type: string }
            name: { type: [string, "null"] }
            email: { type: [string, "null"] }
        recipient:
          type: [object, "null"]
          properties:
            id: { type: string }
            name: { type: [string, "null"] }
            email: { type: [string, "null"] }
        createdAt: { type: string, format: date-time }
        updatedAt: { type: string, format: date-time }

    TreasuryEntryBody:
      type: object
      required: [name, amount]
      properties:
        name: { type: string, minLength: 1, maxLength: 200 }
        amount: { type: number, minimum: 0 }
        currency: { type: string, minLength: 1, maxLength: 10, default: USD }
        description: { type: [string, "null"], maxLength: 2000 }
        date:
          type: string
          description: ISO-8601 date or datetime. The received/spent date; defaults to now.

    TreasuryEntryPatch:
      allOf:
        - $ref: "#/components/schemas/TreasuryEntryBody"
        - type: object
          required: []

    IncomeStream:
      type: object
      properties:
        id: { type: string }
        object: { type: string, const: income_stream }
        name: { type: string }
        amount: { type: number }
        currency: { type: string }
        description: { type: [string, "null"] }
        receivedDate: { type: string, format: date-time }
        createdAt: { type: string, format: date-time }
        updatedAt: { type: string, format: date-time }

    TreasuryExpense:
      type: object
      properties:
        id: { type: string }
        object: { type: string, const: treasury_expense }
        name: { type: string }
        amount: { type: number }
        currency: { type: string }
        description: { type: [string, "null"] }
        spentDate: { type: string, format: date-time }
        createdAt: { type: string, format: date-time }
        updatedAt: { type: string, format: date-time }

    Contract:
      type: object
      properties:
        id: { type: string }
        object: { type: string, const: contract }
        title: { type: [string, "null"] }
        description: { type: [string, "null"] }
        status: { type: string, enum: [DRAFT, SENT, REJECTED, REVOKED] }
        assignedTo:
          type: object
          description: A contract can be assigned to someone with no account yet, so the email is the identity.
          properties:
            email: { type: string }
            userId: { type: [string, "null"] }
        jobTitle: { type: [string, "null"] }
        compensation:
          type: [object, "null"]
          properties:
            amount: { type: number }
            currency: { type: [string, "null"] }
            frequency: { type: [string, "null"] }
        startDate: { type: [string, "null"], format: date-time }
        endDate: { type: [string, "null"], format: date-time }
        signedAt: { type: [string, "null"], format: date-time }
        signerName: { type: [string, "null"] }
        createdAt: { type: string, format: date-time }
        updatedAt: { type: string, format: date-time }

    Activity:
      type: object
      properties:
        id: { type: string }
        object: { type: string, const: activity }
        type:
          type: string
          enum: [INVOICE_RAISED, INVOICE_APPROVED, INVOICE_DECLINED, INVOICE_CLEARED, CONTRACT_CREATED, CONTRACT_SIGNED]
        note: { type: [string, "null"] }
        actor:
          type: object
          properties:
            userId: { type: string }
            name: { type: [string, "null"] }
        invoiceId: { type: [string, "null"] }
        contractId: { type: [string, "null"] }
        createdAt: { type: string, format: date-time }

    WebhookEndpoint:
      type: object
      properties:
        id: { type: string }
        object: { type: string, const: webhook_endpoint }
        url: { type: string, format: uri }
        description: { type: [string, "null"] }
        events: { type: array, items: { type: string } }
        enabled: { type: boolean }
        consecutiveFailures:
          type: integer
          description: Reset by any success. At WEBHOOK_DISABLE_AFTER_FAILURES the endpoint is auto-disabled.
        disabledAt: { type: [string, "null"], format: date-time }
        lastSuccessAt: { type: [string, "null"], format: date-time }
        lastFailureAt: { type: [string, "null"], format: date-time }
        createdAt: { type: string, format: date-time }
        updatedAt: { type: string, format: date-time }

    WebhookEndpointWithSecret:
      allOf:
        - $ref: "#/components/schemas/WebhookEndpoint"
        - type: object
          properties:
            secret:
              type: string
              description: HMAC-SHA256 signing secret. Returned only at create and rotate.
              example: whsec_8Hc1nR7pLdA3sYfTgVjKmQoZ
            warning: { type: string }

    WebhookDelivery:
      type: object
      properties:
        id: { type: string }
        object: { type: string, const: webhook_delivery }
        endpointId: { type: string }
        eventId:
          type: string
          description: Stable per (event, endpoint). Sent as `Splito-Event-Id`; deduplicate on it.
        eventType: { type: string }
        status: { type: string, enum: [PENDING, SUCCEEDED, FAILED, EXHAUSTED] }
        attempts: { type: integer }
        nextAttemptAt: { type: string, format: date-time }
        lastAttemptAt: { type: [string, "null"], format: date-time }
        responseStatus: { type: [integer, "null"] }
        error: { type: [string, "null"] }
        createdAt: { type: string, format: date-time }

    WebhookEventEnvelope:
      type: object
      description: |
        The body POSTed to a webhook endpoint. `data` holds the same object
        shapes the REST endpoints return, so one parser serves both.
      required: [id, type, createdAt, organizationId, apiVersion, data]
      properties:
        id: { type: string, example: evt_9f14c8a2b7e34d1a8c0b6e2f5a3d7c91 }
        type:
          type: string
          enum:
            - request.created
            - request.partially_paid
            - request.settled
            - request.cancelled
            - request.expired
            - invoice.created
            - invoice.sent
            - invoice.approved
            - invoice.declined
            - invoice.paid
            - invoice.overdue
            - invoice.cleared
            - invoice.cancelled
            - invite.created
            - invite.accepted
            - invite.declined
            - invite.revoked
            - member.joined
            - treasury.income.recorded
            - treasury.expense.recorded
            - webhook.test
        createdAt: { type: string, format: date-time }
        organizationId: { type: string }
        apiVersion: { type: string, const: v1 }
        data:
          type: object
          properties:
            request: { $ref: "#/components/schemas/MoneyRequest" }
            invoice: { $ref: "#/components/schemas/Invoice" }
            invite: { $ref: "#/components/schemas/Invite" }
            member: { $ref: "#/components/schemas/Member" }
            incomeStream: { $ref: "#/components/schemas/IncomeStream" }
            expense: { $ref: "#/components/schemas/TreasuryExpense" }

    ApiKey:
      type: object
      description: Never contains the secret or its hash.
      properties:
        id: { type: string }
        name: { type: string }
        maskedToken: { type: string, example: "spl_sk_9vQ2mZbK4tXw_••••••••" }
        prefix: { type: string }
        scopes: { type: array, items: { type: string } }
        effectiveScopes: { type: array, items: { type: string } }
        state: { type: string, enum: [active, revoked, expired] }
        rateLimitPerMin: { type: integer }
        createdById:
          type: string
          description: The member the key acts as. The key stops working if they lose their seat.
        createdAt: { type: string, format: date-time }
        lastUsedAt: { type: [string, "null"], format: date-time }
        requestCount:
          type: integer
          description: Counts the throttle windows the key was active in — an activity signal, not a meter.
        expiresAt: { type: [string, "null"], format: date-time }
        revokedAt: { type: [string, "null"], format: date-time }
        rotatedToId: { type: [string, "null"] }

    ApiKeyWithToken:
      allOf:
        - $ref: "#/components/schemas/ApiKey"
        - type: object
          properties:
            token:
              type: string
              description: The plaintext token. Shown once and unrecoverable afterwards.
              example: spl_sk_9vQ2mZbK4tXw_8Hc1nR7pLdA3sYfTgVjKmQoZxWbN2eUu
            warning: { type: string }

webhooks:
  splitoEvent:
    post:
      tags: [Webhooks]
      operationId: receiveSplitoEvent
      summary: An event POSTed to your endpoint
      description: |
        Verify `Splito-Signature` against the RAW body before parsing:
        HMAC-SHA256 over `<timestamp>.<raw body>`, hex, as `t=<unix>,v1=<hex>`.
        The timestamp is inside the signed string, so rejecting old timestamps
        genuinely defeats replay.

        Delivery is at-least-once — deduplicate on `Splito-Event-Id`. Answer any
        2xx quickly and do the work asynchronously; everything else is retried
        with exponential backoff.
      parameters:
        - name: Splito-Signature
          in: header
          required: true
          schema: { type: string, example: "t=1758193200,v1=6f8c...e21a" }
        - name: Splito-Event-Id
          in: header
          required: true
          schema: { type: string }
        - name: Splito-Event-Type
          in: header
          required: true
          schema: { type: string }
        - name: Splito-Delivery-Attempt
          in: header
          required: true
          schema: { type: integer }
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/WebhookEventEnvelope" }
      responses:
        "2XX":
          description: Acknowledged. Anything else is retried.
